#main-header {
    grid-area: main-header;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -5px 11px 11px rgba(0, 0, 0, 0.1);

    > h1, > nav {
        margin: 1em;
        font-size: $text-medium;
        font-weight: bold;
    }

    > nav > a {
        text-decoration: none;
        color: $text-dark;
    }
}

#input-title {
    Width: 450px;
}

#input-username {
    Height: 150px;
}