#main-header {
    grid-area: main-header;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -5px 11px 11px rgba(0, 0, 0, 0.1);
}

#main-header > h1, #main-header > p {
    margin: 1em;
    font-size: $text-medium;
    font-weight: bold;
}

#input-title {
    Width: 450px;
}

#input-username {
    Height: 150px;
}